<ion-header>

  <ion-navbar color="verde">
    <ion-title text-center>Relatório</ion-title>
    <ion-buttons end>
      <button ion-button (click)="fechar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <img *ngIf="relatorio.sobre.logotipo.split(':')[1] != 'undefined'" [src]="relatorio.sobre.logotipo" />
    <ion-card-content>
      <ion-card-title color="primary" text-center>
        <ion-icon name='information-circle' color="dark"></ion-icon>
        {{relatorio.sobre.titulo}}
      </ion-card-title>
    </ion-card-content>
    <ion-grid>
      <ion-row *ngFor="let informacao of informacoes">
        <ion-col col-5>
          <b>{{informacao}}</b>
        </ion-col>
        <ion-col>
          {{relatorio.sobre.informacoes[informacao]}}
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-card>
    <ion-card-header color="primary" text-center>
      <ion-icon name='trophy' color="dark"></ion-icon>
      {{relatorio.lucroLiquidoAnual.titulo}}
    </ion-card-header>
    <ion-card-content text-center>
      <p>{{relatorio.lucroLiquidoAnual.descricao}}</p>
      <canvas id="lucroLiquidoAnual" padding-top>{{ grafico }}</canvas>
    </ion-card-content>
  </ion-card>

</ion-content>