<ion-header>

  <ion-navbar color="verde">
    <ion-title>Resultados</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color="verde">
    <ion-segment [(ngModel)]="relatorioAtual" color="amarelo">
      <ion-segment-button *ngFor="let relatorio of relatorios" [value]="relatorio">
        {{ relatorio.classificacao }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-list-header text-wrap text-center>
    {{ relatorioAtual.descricao }}
  </ion-list-header>
  <ion-list>
    <button ion-item *ngFor="let instituicao of relatorioAtual.instituicoes" (click)="exibirRelatorio(instituicao.url)">
      <h2>{{ instituicao.nome }}</h2>
      <h3>{{ instituicao.tipo }}</h3>
      <p text-right>{{ instituicao.localizacao }}</p>
    </button>
  </ion-list>
</ion-content>